# Final Model Interpretation

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

import joblib
import pickle

import warnings
warnings.filterwarnings("ignore")

print('All Libraries Imported')

All Libraries Imported

## Import Datasets

In [2]:
all_data = pd.read_pickle('all_data.pkl')
all_data.reset_index(inplace=True)
all_data.drop(['index'], axis=1, inplace=True)
all_data.head()

,Class,Created At,Lemmatized,Sentiment,Sentiment_TextBlob,Sentiment_VADER,Subjectivity,Tweet_Strings,Tweets,cleaned_tweets
0,Luxury,2019-12-13 14:47:03,"[polo, anyone, world, snow, polo, championship...",1,0.000000,0.4404,0.0,polo anyone world snow polo championship held ...,Polo anyone?\r\n#StRegis World Snow #Polo Cham...,"[polo, anyone, world, snow, polo, championship..."
1,Luxury,2019-12-13 13:05:34,"[fantastic, night, celebrating, th, anniversary]",1,0.400000,0.8074,0.9,fantastic night celebrating th anniversary,Fantastic night at the @TheStRegisMC celebrati...,"[fantastic, night, celebrating, th, anniversary]"
2,Luxury,2019-12-13 09:16:46,"[exceptional, tropical, sunshine, ensures, ult...",1,0.413333,0.8689,0.8,exceptional tropical sunshine ensures ultimate...,It's the exceptional tropical sunshine that en...,"[exceptional, tropical, sunshine, ensures, ult..."
3,Luxury,2019-12-13 04:05:43,"[birthday, sagittarius, aspen, ilovemylife, ha...",1,0.000000,0.0000,0.0,birthday sagittarius aspen ilovemylife happybi...,This is 38. üéÇüèπüëÄüò¨üç∫üç∞üí© @stregisaspen #birthday #üéÇ...,"[birthday, sagittarius, aspen, ilovemylife, ha..."
4,Luxury,2019-12-13 00:14:04,"[stunning, overwater, bar, see, today, called,...",1,0.341667,0.9359,0.5,stunning overwater bar see today called whale ...,Stunning overwater bar you will see today! It'...,"[stunning, overwater, bar, see, today, called,..."

In [3]:
X_test = pickle.load(open("X_test.pkl", "rb"))
y_test = pickle.load(open("y_test.pkl", "rb"))
tf_idf_X_test = pickle.load(open("tf_idf_X_test.pkl", "rb"))

## Load Logistic Regression Model

In [4]:
model = joblib.load('log_reg.pkl')

## Select Tweets

A group of tweets are selected from the test data to test the classification ability of our model. For comparison, the original tweets are gathered, along with their classes, to determine if the test tweets have been correctly classified.

X_test[500:510]

In [15]:
test_tweets = tf_idf_X_test[500:510]

In [18]:
test = all_data.loc[[13268,16883,8299,11127,18388,12794,11292,7068,5426,503],['Tweets']]

In [19]:
test

                                                  Tweets
13268  Are you part of Toronto's #Tech community? The...
16883    @Expedia Thanks for making the situation right!
8299   God provided pink clouds with the sunset tonig...
11127  Entries are now open for Feis Na Blian Nua, wh...
18388  @bookingcom your team member also cancelled my...
12794  Bellperson - Newport Beach Marriott Hotel &amp...
11292  New day new Marriott!! It's December 09, 2019 ...
7068   @lifefoodtravel @Marriott @MarriottBonvoy Actu...
5426   31st December: JW New Year‚Äôs Eve Countdown Buf...
503    We are in a #festive mood all December, taste ...

## Run Model

In [20]:
predictions = model.predict(test_tweets)

In [22]:
outcome = pd.DataFrame({'Tweet': test['Tweets'], 'Category': y_test[500:510], 
                   'Predicted Category': predictions})

In [23]:
outcome

,Tweet,Category,Predicted Category
13268,Are you part of Toronto's #Tech community? The...,Premium,Premium
16883,@Expedia Thanks for making the situation right!,Expedia,Premium
8299,God provided pink clouds with the sunset tonig...,Premium,Premium
11127,"Entries are now open for Feis Na Blian Nua, wh...",Premium,Premium
18388,@bookingcom your team member also cancelled my...,Expedia,Expedia
12794,Bellperson - Newport Beach Marriott Hotel &amp...,Premium,Premium
11292,"New day new Marriott!! It's December 09, 2019 ...",Premium,Premium
7068,@lifefoodtravel @Marriott @MarriottBonvoy Actu...,Premium,Premium
5426,31st December: JW New Year‚Äôs Eve Countdown Buf...,Premium,Premium
503,"We are in a #festive mood all December, taste ...",Luxury,Premium

The model performs quite well, with 8/10 tweets being properly classified. This is in line with the 83% accuracy of the Multinomial Logistic Regression Model.

## Recommendations

The model, given its accuracy,can be used to determine how a Twitter user is likely to book hotel rooms, direct with Marriott or with an online travel agency, depending on hotel class.

## Future Work

1. Use key themes from Word Clouds and n-grams to improve user experience
    - Create clear brand messaging as identified for Online Travel Agencies.
    - Use these identifiers to improve customer service responses, especially via Twitter. 
    - Find out what customers enjoy about Membership Rewards.